*.iml
.gradle
.kotlin
.env
*.log
*.db
__pycache__/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
icon-of-the-app.png

.venv/
scripts/ocr_eval_results/
