*.iml
.gradle
.kotlin
.env
*.log
*.db
__pycache__/
/local.properties
.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
icon-of-the-app.png

.venv/
scripts/ocr_eval_results/
